version: '3.8'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: testdb
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
  backend:
      build: './backend'
      restart: always
      environment: 
        DATABASE_URL:  postgres://user:root@db:5432/testdb
      depends_on:
       - db
      ports:
        - "3000:3000"